@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  min-height: 100dvb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Figtree", serif;
}

.card {
  width: 385px;
  height: 520px;background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  border: black 2px solid;
  box-shadow: 9px 9px black;
  padding: 23px;
}

.image {
  width: 338px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.card-content {
}

.pill {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: hsl(47, 88%, 63%);
  font-weight: 800;
  font-size: 14px;
}

.date {
  font-weight:500;
  font-size: 14px;
  margin-top: 17px;
}

.title { 
  font-weight: 800;
  font-size: 24;
  margin-top: 15px;
}

.title:hover{
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.paragraph {
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.5;
  color: hsl(0, 0%, 42%);
}

.author-container{
  margin-top: 22px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 31px;
  height: 31px;
  border-radius: 50;
  margin-right: 12px;
}

.author {
  font-weight: 800;
  font-size: 14;
}

.attribution {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
